# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# Laravel
/vendor/
storage/*.key
storage/logs/
storage/framework/
bootstrap/cache/

# IDEs
.vscode/
.idea/
